@charset "UTF-8";
/* CSS Document */

.st0{fill:#EDBEBE;}
	.st1{fill:#C99B9B;}
	.st2{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
	.st3{fill:#232323;}
	.st4{fill:#FFFFFF;}
	.st5{fill:#EAEAEA;}
	.st6{fill:#EAA4A4;}
	.st7{fill:none;stroke:#000000;stroke-miterlimit:10;}
	.st8{fill:#CE8989;}
	.st9{fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
	.st10{fill:none;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
	.st11{fill:#FFFFFF;stroke:#FFFFFF;stroke-miterlimit:10;}
	.st12{fill:none;}
	.st13{fill:#62C7CE;}
	.st14{fill:#58595B;}
	
